#!/bin/zsh

alias zshconfig="vim ~/.zshrc"
alias zshrc="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"

alias ls='ls --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias ll='ls -lh --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias la='ls -lha --group-directories-first --time-style=+"%d.%m.%Y %H:%M" --color=auto -F'
alias lr='ls -tRFh'   #sorted by date,recursive,show type,human readable
alias lt='ls -ltFh'   #long list,sorted by date,show type,human readable
alias l="ls -1sh"
alias lla="ls -la"
alias cdc="cd"
alias netbeans="netbeans -J-Dswing.aatext=true -J-Dawt.useSystemAAFontSettings=on &"
alias j="jump"
alias ping="ping -c 5"
alias clr="clear; echo Currently logged in on $TTY, as $USER in directory $PWD."
alias path="print -l $path"
alias mkdir="mkdir -pv"
alias rm="rm -i"
alias grep='grep --color=auto'
alias df='df -h'
alias du='du -c -h'
alias openports='ss --all --numeric --processes --ipv4 --ipv6'
alias calc="galculator &"
alias v="vim"
alias poop="systemctl poweroff"
alias ree="systemctl reboot"
alias beats="mpc volume 4; ncmpcpp"
alias vpnu="sudo surfshark-vpn"
alias vpnd="sudo surfshark-vpn down"
alias pwdc="pwd | xclip -selection clipboard"
alias which_term="perl -lpe 's/\0/ /g' /proc/$(xdotool getwindowpid $(xdotool getactivewindow))/cmdline"

alias -g gp="| grep -i --color=auto"
alias -g H='| head'
alias -g T='| tail'
alias -g L='| less'

alias config='/usr/bin/git --git-dir=/home/blackbeard/.myconfig/ --work-tree=/home/blackbeard'

# Jack all the things - int0x80
ippls() { ip -o addr show | grep 'inet ' | awk '{print $2 " " $4}' | sed -e "s/\/[0-9]*$//g"; }
alias diff='/usr/bin/grc /usr/bin/diff'
alias gcc='/usr/bin/grc /usr/bin/gcc'
alias g++='/usr/bin/grc /usr/bin/g++'
alias netstat='/usr/bin/grc /usr/bin/ss'
alias ping='/usr/bin/grc /bin/ping'
alias ps='/usr/bin/grc /bin/ps'
alias tail='/usr/bin/grc /usr/bin/tail'
alias sha1="openssl sha1"
alias md5="openssl md5"
alias ports="netstat -tulanp"
#alias ipx="curl -s http://ipinfo.io/ip"
alias ipx="curl -4 icanhazip.com"
alias preps="pacman -Slq | fzf -m --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S"
alias yreps="yay -Slq | fzf -m --preview 'yay -Si {1}'| xargs -ro yay -S"
alias ff="find . -type f | fzf --preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"
alias lf="locate / | fzf --preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"


mem10(){
    ps aux --sort=-%mem | awk 'NR<=10{print $2,"\t", $11,"\t", $12}';
}

# Twily colored man pages
man() {
    env \
        LESS_TERMCAP_mb=$(printf "\e[1;30m") \
        LESS_TERMCAP_md=$(printf "\e[32m") \
        LESS_TERMCAP_me=$(printf "\e[0m") \
        LESS_TERMCAP_se=$(printf "\e[0m") \
        LESS_TERMCAP_so=$(printf "\e[41;33m") \
        LESS_TERMCAP_ue=$(printf "\e[0m") \
        LESS_TERMCAP_us=$(printf "\e[1;37m") \
    man "$@"
}

# create a tmp directory and cd into it
tmpd() {
    local dir
    if [ $# -eq 0 ]; then
        dir=$(mktemp -d)
    else
        dir=$(mktemp -d -t "${1}.XXXXXXXXXX")
    fi
    cd "$dir" || exit
}

# run popcorntime in docker
ptime(){
    xhost local:root;
    docker start popcorntime
}

# using ripgrep combined with preview
# find-in-file - usage: fif <searchTerm>
fif() {
  if [ ! "$#" -gt 0 ]; then echo "Need a string to search for!"; return 1; fi
  rg --files-with-matches --no-messages "$1" | fzf --preview "highlight -O ansi -l {} 2> /dev/null | rg --colors 'match:bg:yellow' --ignore-case --pretty --context 10 '$1' || rg --ignore-case --pretty --context 10 '$1' {}"
}

# fh - repeat history
fh() {
  print -z $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed -r 's/ *[0-9]*\*? *//' | sed -r 's/\\/\\\\/g')
}

# fkill - kill process
fkill() {
  local pid
  pid=$(ps -ef | sed 1d | fzf -m | awk '{print $2}')

  if [ "x$pid" != "x" ]
  then
    echo $pid | xargs kill -${1:-9}
  fi
}



