:root{
    --bg:#090B06;
    --fg:#94bbbc;
    --fg-dark:#678283;
}

body{
    overflow:hidden;
    background-color:var(--bg);
    color:var(--fg);
    background-image:url('../../../wall.png');
    background-size:cover;
    background-repeat:no-repeat;
}

#container a {
    display:inline-block;
    color:inherit;
    text-decoration:none;
    line-height:25px;
    height:100%;
    width:100%;
}

#container {
    position:absolute;
    top:50%;
    left:25%;
    width:50%;
    margin:0 auto;
    display:flex;
    flex-flow:row;
    align-content:center;
}

.sqr {
    flex:1 auto;
    text-align: center;
    padding-top:10px;
    background-color:var(--bg);
    width:150px;
    height:150px;
    margin:3px 3px;
    border:5px solid var(--fg-dark);
    overflow:hidden;
    -moz-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
    vertical-align:middle;
    display: inline-block;
    justify-content: center;
}

.sqr li{
    display:none;
    font-family: 'Inconsolata', monospace;
}

.sqr:hover{
    height:100%;
    font-family: 'Inconsolata', monospace;
}

.sqr:hover li{
    display:block;
}

#container span {
    width:inherit;
    height:inherit;
    line-height:100px;
    text-transform:capitalize;
    font-family: 'Tangerine', cursive;
    font-size:2em;
    text-shadow: 4px 4px 4px var(--fg-dark);
}


