:root{
    --bg:#090B06;
    --fg:#94bbbc;
    --fg-dark:#678283;
}
html {
  background: url('../../../wall.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:var(--fg);
  overflow:hidden;
}

body{
    /* overflow:hidden; */
    /* background-color:var(--bg); */
    /* color:var(--fg); */
    /* background-image:url('../../../wall.png'); */
    /* background-size:cover; */
    /* background-repeat:no-repeat; */
}

#container a {
    display:inline-block;
    color:inherit;
    text-decoration:none;
    line-height:25px;
    height:100%;
    width:100%;
}

#container {
    position:absolute;
    top:50%;
    left:25%;
    width:50%;
    margin:0 auto;
    display:flex;
    flex-flow:row;
    align-content:center;
}

.sqr {
    flex:1 auto;
    text-align: center;
    padding-top:10px;
    background-color:var(--bg);
    width:150px;
    /* height:150px; */
    max-height: 150px;
    margin:3px 3px;
    border:5px solid var(--fg-dark);
    overflow:hidden;
    vertical-align:middle;
    display: inline-block;
    justify-content: center;
    transition-timing-function: ease;
    transition:all 1.0s ease-in;
}

.sqr li{
    display:block;
    visibility:hidden;
    font-family: 'Inconsolata', monospace;
}

.sqr:hover{
    height:100%;
    font-family: 'Inconsolata', monospace;
    /* transition:height 2s ease-out; */
    max-height: 1000px;
}

.sqr:hover li{
    display:block;
    visibility:visible;
    transition:visibility 1.1s ease-in;
}

#container span {
    width:inherit;
    height:inherit;
    line-height:100px;
    text-transform:capitalize;
    font-family: 'Tangerine', cursive;
    font-size:2em;
    text-shadow: 4px 4px 4px var(--fg-dark);
}


#hnews {
    position:absolute;
    top:25%;
    left:25%;
    width:50%;
    margin:0 auto;
    display:flex;
    flex-flow:row;
    align-content:center;
    background-color:var(--bg);
    border:5px solid var(--fg-dark);
}

#hnews li{
    font-family: 'Inconsolata', monospace;
    display: inline-block;
    float: left;
    clear: left;
    color:inherit;
}

#hnews a {
    display:inline-block;
    color:inherit;
    text-decoration:none;
    height:100%;
    width:100%;
}



